.form-group{
	margin-top: 15px;
}


.up_part{
	height:100px;
	width:100%;
	background:rgba(64,68,68,0.9);
	margin-bottom:20px;
}
.up_part span{
	display: inline-block;
	color: #fff;
	font-size: 22px;
	padding-left: 20px;
	margin-top: 25px;

}

.content_news{
	resize: none;
}
.btn_group{
	width: 30%;
	height:100%;
	float:right;
	padding-top: 2%;
	padding-left: 5%;
}

.btn_dispath{
	width: 60%;
	padding-top:35px;
	margin-left: 40px;
}